/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}



/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Style */

html {
  font-size: 16px;
}

body {
  font-family: 'ibm plex sans', sans-serif;
  font-size: .88em;
  color: white;
  background-color: #494949;
  text-transform: capitalize;
  align-content: center;
}

.content-wrapper {
  width: 90%;
}

h2 {
  font-size: 1.88em;
}

h3 {
  font-size: 1.13em;
  text-decoration: none;
}

h4 {
  font-size: 1enm;
}

figure {
  margin: 0;
}

/*********************HEADER STYLING***************/
header .content-wrapper {
  font-family: 'source code pro', monospace;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

.header-divider {
  background: #F42C04;
  height: 1px;
  width: 100%;
  margin: 10px 0 20px 0;
}

header nav {
  font-size: 1.125em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul li {
  display: flex;
  flex-flow: row wrap;
}

header nav ul {
  padding: 0;
  margin: 0;
}

header nav ul li a {
  color: white;
  font-size: 1.125em;
}

.hero-area {
  background-image: url('../img/laptop.jpg');
  background-color: #494949;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  flex-flow: row wrap;
}

h1 {
  font-size: 2.25em;
  color: #7C7A7A;
  text-align: left;
  width: 50%;
  margin: 0;
}
h1 span{
  color: #F42C04;
}

/*-------------- Mobile Styles- Homepage ---------------- */

/**********************portfolio styles****************/
.portfolio {
  margin: 0;
}

.portfolio content-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

.portfolio figure {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.portfolio h2 {
  color: #F42C04;
  text-align: center;
  text-transform: lowercase;
  margin: 0;
}

.portfolio h3 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.portfolio a {
  text-decoration: none;
  color: white;
}

.portfolio h4 {
  font-weight: normal;
  margin: 0;
}


/****************************about me styling *********************/

.about .content-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

.about {
  background-image: url('../img/computers-multi.jpg');
  background-color: #494949;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
}

.about h2 {
  color: #F42C04;
  text-align: center;
  text-transform: lowercase;
  padding-top: 20px;
  margin: 0;
}

.about h4 {
  font-weight: bold;
}

.about h4 {
  color: white;
  text-align: right;
  width: 50%;
  line-height: 32px;
}

.about p {
  color: white;
  text-align: right;
  width: 50%;
}

/*************************contact styling **********************/
.contact .content-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

.contact h2 {
  color: #F42C04;
  text-align: center;
  text-transform: lowercase;
  padding-top: 20px;
  margin: 0;
}

.contact h4{
  font-weight: bold;
  padding: 20px;
  margin: 0;
}

.contact a {
  color: white;
  text-transform: lowercase;
  padding: 20px;
  margin: 0;
}

.contact ul {
  margin: 0;
  padding: 0;
}

.contact ul li {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px)  {
/*Tablet styles here*/

/* General Styles */






}

/*Desktop styles here*/

@media only screen and (min-width: 1200px) {
/* General Styles */






}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    ===========================================content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
